@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

html,body {
    height: 100%;
}

body {
    font-family: 'Unbounded', serif;
    background: linear-gradient(120deg, aquamarine 0%, rgb(33, 37, 41) 40%);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    flex: 1;
}

p {
    color: aquamarine;
}

.nav-link {
    color: aquamarine;
    font-family: 'Rubik Mono One', serif;
}

.navbar-nav .nav-link.active {
    color: rgb(131, 138, 138);
}

.navbar-brand img {
    width: 8em;
    color: aquamarine;
}

.navbar-toggler {
    background-color: rgb(131, 138, 138);
}

.sidebar {
    color: aquamarine;
    font-family: 'Unbounded';
    font-size: 20px;
}

.sidemaincont h2 {
    text-align: center;
    color: aquamarine;
    font-weight: bolder;
    font-family: 'Unbounded';
}

.sidebar a {
    color: red !important;
}

.card {
    background: linear-gradient(195deg, aquamarine 0%, rgb(33, 37, 41) 40%);
}

.card a {
    text-decoration: none;
    color: aquamarine;
}

.slide-text,
.footer-text {
    color: aquamarine;
    margin: auto auto;
}

footer {
    background: linear-gradient(195deg, aquamarine 0%, rgb(33, 37, 41) 40%);
    margin-top: auto;
    padding-top: 20px;
    position: relative;
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    padding-bottom: 40px;
}

.slide-text p {
    font-size: calc(1.2rem + 0.5vw);
    margin: 0;
    padding: 0 1.5rem;
    color: aquamarine;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.slide-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    font-weight: 450;
}

.slide-text p a {
    color: red !important;
    font-weight: 1000 !important;
}

.footer-text p a {
    text-decoration: none !important;
    color: aquamarine !important;
}

.members-page .card h5 a {
    text-decoration: none !important;
}

.card h5 a {
    text-decoration: underline;
}

.dside {
    background: #ffffff url(https://dumcran.github.io/source/files/sidebarbg.png) center center/cover no-repeat;
}

@media (max-width: 768px) {
    .carousel-indicators {
        display: none;
    }
}

@media (min-width: 1200px) {
    .slide-text p {
        font-size: 2rem;
        padding: 0 2rem;
    }
}

@media (max-width: 1199px) {
    .slide-text p {
        font-size: 1.6rem;
    }
}

@media (max-width: 992px) {
    .slide-text p {
        font-size: 1.4rem;
    }
}

@media (max-width: 768px) {
    .slide-text p {
        font-size: 1.2rem;
        padding: 0 1rem;
    }
}
